<IfModule mod_rewrite.c>

RewriteEngine on
#RewriteCond $1 !^(index\.php|application|page|robots\.txt)
RewriteRule ^([a-zA-Z]{1}[\w]*/){0,3}[\w:]*((\.php)|(\.lpc)|(\.lang))?$ index.php [L,NE]
#RewriteRule ^([a-zA-Z]{1}[\w]*/){0,3}\w*$ index.php [L]
</IfModule>