Options -Indexes
<FilesMatch .(lpc|lang)$>
Order allow,deny
Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule (application|lib)/ - [F,L]
RewriteRule ^([a-zA-Z]{1}[\w]*/){0,3}[\w:]*((\.php)|(\.lpc)|(\.lang))?$ index.php [L,NE]
</IfModule>