<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule0" stopProcessing="true"> 
                    <match url="\.(lpc|lang)(\?)?" ignoreCase="true" /> 
                    <action type="CustomResponse" statusCode="404" subStatusCode="0" /> 
                </rule>
                <rule name="rule1" stopProcessing="true">
                    <match url="(lib|application)(/)?.*" ignoreCase="true" />
                    <action type="CustomResponse" statusCode="404" subStatusCode="0" />
                </rule>
                <rule name="rule2" stopProcessing="true">
                    <match url="^([a-zA-Z]{1}[\w]*/){0,3}[\w-:%\x4e00-\xffff]*((\.php)|(\.lp)|(\.lang))?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="false" />
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Powered-By" value="linephp.com" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
