<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="rule0" stopProcessing="true"> 
						<match url="\.(htaccess|lp|lang|sh|sql)(\?)?" ignoreCase="true" /> 
						<action type="CustomResponse" statusCode="404" subStatusCode="0" statusReason="禁止访问" statusDescription="请求拒绝." /> 
				</rule>
                <rule name="rule1" stopProcessing="true">
                    <match url="(lib|application)(/)?.*" ignoreCase="true" />
                    <action type="CustomResponse" statusCode="404" subStatusCode="0" />
                </rule>
                <rule name="rule2" stopProcessing="true">
                    <match url="^([a-zA-Z]{1}[\w]*/){0,3}[\w-:%\x4e00-\xffff]*((\.php)|(\.lp)|(\.lang))?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
		<directoryBrowse enabled="false" />
        <httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="500.html" responseMode="File" />
            <error statusCode="404" prefixLanguageFilePath="" path="404.html" responseMode="File" />
        </httpErrors>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Powered-By" value="linephp.com" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
